<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Bus Management System NRIFT</title>
</head>

<body>
	<h2>Bus Management System NRIFT</h2>
	<hr>
	
	<p>
	Bus Management System NRIFT
	</p>
	
	<hr>
	
	<!-- display user name and role -->
	
	<div>
		User: <span sec:authentication="name"></span>
		<br><br>
		Role(s): <span sec:authentication="principal.authorities"></span>
		<br><br>

		<!-- Check for login error -->																	
		<div th:if="${session.admin}" >
			<!--  <p th:text="'First name: ' + ${session.user.firstName} + ', Last name: ' + ${session.user.lastName} + ', Email: ' + ${session.user.email}"></p> -->
			<!-- <p th:text="'User name: '
			${session.user.userName} ">
			</p> -->
		</div>		
	</div>
	
	<!--  Working with common html not used in BMS  -->
<!-- 	<div sec:authorize="hasRole('ROLE_MANAGER')">
	
		Add a link to point to /leaders ... this is for the managers
		
		<p>
			<a th:href="@{/leaders}">Leadership Meeting</a>
			(Only for Manager peeps)
		</p>

	</div>	

	<div sec:authorize="hasRole('ROLE_ADMIN')">  

		Add a link to point to /systems ... this is for the admins
		
		<p>
			<a th:href="@{/systems}">IT Systems Meeting</a>
			(Only for Admin peeps)
		</p>
	
	</div> -->

	<hr>
	
	
	<form th:action="@{/logout}" 
			   method="POST">
	
		<input type="submit" value="Logout" />
	
	</form>	
			
</body>

</html>









 