<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Bus Management System NRIFT</title>
</head>

<body>
	<h2>Bus Management System NRIFT</h2>
	<hr>
	
	<p>
	Bus Management System NRIFT
	</p>
	
	<hr>
	
	<div>
	User: <span sec:authentication="name"></span>
		<br><br>
		Role(s): <span sec:authentication="principal.authorities"></span>
		<br><br>
		
		<div th:if="${session.emp}" >
			<p th:text="'Full name: ' + ${session.emp.getEmployee().getName()}"></p>
			<p th:text="'UserName: ' + ${session.emp.getUserName()}"></p>
			 <p th:text="'Contact number: ' + ${session.emp.getEmployee().getContactNo()}"></p> 
		</div>	
		
		<a th:href="@{/driver/preview}">Check this</a>
	</div>


	<hr>
	
	
	<!-- Add a logout button -->
	<form th:action="@{/logout}" 
			   method="POST">
	
		<input type="submit" value="Logout" />
	
	</form>	
			
</body>

</html>









